#light{
	background-image: linear-gradient(180deg,white, lightblue, #f2f2f2);
}

#dark{
	background-image:linear-gradient(180deg,rgb(224, 60, 93), #fff);
}

#dark .trainer{
	color: #fff;
	text-shadow: 0 0 5px #f3f3f3;
}

#dark .form{
	background-image: linear-gradient(180deg, #fff,rgb(224, 60, 93), #fff);
}

#dark .form figure{
	background-image: url(/ash2.png);
}

#dark .form input{
	border: 1px solid red;
}

#dark .form button{
	background-color: rgb(173, 13, 13);
}

#dark .form button:hover{
	background-color:  rgb(202, 54, 54);
	color: #000;
}

#dark .card-pokemon{
    box-shadow: 0 2px 5px 5px #df0d0d;
}

#dark .container-filters {

	color: #000;
	background-color: #999;
	height: 30%;
	padding-top: 120px;
	transition: all 0.3s linear;
}

#dark .progress-bar {
	background-color: rgb(161, 1, 1);
	
}

#dark .btn-search {
	color: #fff;
	background-color: rgb(161, 1, 1);
}

#dark .btn-search:hover {
	background-color: rgb(202, 54, 54);
	color: #000;
}

#dark .icon-search {
	stroke: #fff;
}

#dark .form-group {
	border: 1px solid #fff;
}

#dark .form-group input {
    color: #fff;
}

#dark .form-group input::placeholder {
    color: #fff;
}

#dark .number-pokemon {
	color: lightgray;
}

#dark .goback{
	background-color: rgb(173, 13, 13);

}

#dark .goback:hover{
	background-color: rgb(202, 54, 54);
}

#dark .btn-load-more{
	background-color: rgb(173, 13, 13);
}

#dark .btn-load-more:hover{
	background-color:  rgb(202, 54, 54);
}

#dark .active{
	border: 1px solid red;
}